@model Application.MaterialManagement.TransactionalPartnerAggregate.Queries.GetTransactionalPartnerById.TransactionalPartnerResponse;

<div class="text-left">
    <div class="container">
        <!form action="/MaterialManagement/TransactionalPartners/@Model.Id" method="PUT">
            <div id="BasicInformation">
                <input hidden name="id" value="@Model.Id"/>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Name</label>
                        <input type="text" name="name" class="form-control" aria-label="Default" value="@Model.Name"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Tax No</label>
                        <input type="text" name="taxNo" class="form-control" aria-label="Default" value="@Model.TaxNo"/>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="label label-default">Website</label>
                            <input type="text" name="website" class="form-control" aria-label="Default" value="@Model.Website"/>
                        </div>
                        <div class="col-md-6">
                            <label class="label label-default">Transactional partner type</label>
                            <select class="form-select" name="transactionalPartnerTypeId" asp-items="@ViewBag.TransactionalPartnerTypes"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="label label-default">Currency type</label>
                                <select class="form-select" name="currencyTypeId" asp-items="@ViewBag.CurrencyTypes"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>
                    Contact person information
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Contact person name</label>
                        <input type="text" name="contactPersonName" class="form-control" aria-label="Default" value="@Model.ContactPersonInformation.Name"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Tel No</label>
                        <input type="text" name="telNo" class="form-control" aria-label="Default" value="@Model.ContactPersonInformation.TelNo"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Email</label>
                        <input type="text" name="email" class="form-control" aria-label="Default" value="@Model.ContactPersonInformation.Email"/>
                    </div>
                </div>
                <h3>
                    Address:
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">City</label>
                        <input type="text" name="city" class="form-control" aria-label="Default" value="@Model.Address.City"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">District</label>
                        <input type="text" name="district" class="form-control" aria-label="Default" value="@Model.Address.District"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Street</label>
                        <input type="text" name="street" class="form-control" aria-label="Default" value="@Model.Address.Street"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Ward</label>
                        <input type="text" name="ward" class="form-control" aria-label="Default" value="@Model.Address.Ward"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Zip code</label>
                        <input type="text" name="zipCode" class="form-control" aria-label="Default" value="@Model.Address.ZipCode"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Country</label>
                        <select class="form-select" name="countryId" asp-items="@ViewBag.Countries"></select>
                    </div>
                </div>
                <div>
                    <div class="col-md-6">
                        <label class="label label-default">Location type</label>
                        <select class="form-select" name="locationTypeId" asp-items="@ViewBag.LocationTypes"></select>
                    </div>
                </div>
            </div>
            <button id="save" type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </!form>
    </div>
</div>

<script>
function save(ele) {
    let formData = getTransactionalPartnerForm(ele)
    let eleForm = ele.closest("form")
    let form = eleForm[0]
    let basicInfo = eleForm.find("#BasicInformation")
    formData.id = basicInfo.find("input[name='id']").val()
    let urlAction = form.action
    let method = eleForm.attr("method")
    
    $.ajax({
            type: method,
            data: formData,
            url: urlAction,
            dataType: "json",
            success: function (result) {
                location.href = "/MaterialManagement/TransactionalPartners"
            },
            error: function (data) {
                alert(`${data.errors[0].code}: ${data.errors[0].message}`)
            }
        });
}

$(document).ready(function () {
    $(document).on("click", "#save", function(e) {
        e.preventDefault()
        save($(this))
    })
})
</script>
<script src="~/MaterialManagement/UpdateTransactionalPartner.js"></script>