@model Application.MaterialManagement.MaterialAggregate.Queries.MaterialQueries.GetMaterialById.MaterialResponse 

<div class="text-left">
    <div class="container">
        <!form action="/MaterialManagement/Materials/@Model.Id" method="PUT">
            <div id="BasicMaterialInformation">
                <input hidden name="id" value="@Model.Id"/>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Code</label>
                        <input type="text" name="code" class="form-control" aria-label="Default" value="@Model.Code"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Name</label>
                        <input type="text" name="name" class="form-control" aria-label="Default" value="@Model.Name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Color Code</label>
                        <input type="text" name="colorCode" class="form-control" aria-label="Default" value="@Model.ColorCode"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Width</label>
                        <input type="text" name="width" class="form-control" aria-label="Default" value="@Model.Width"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Weight</label>
                        <input type="text" name="weight" class="form-control" aria-label="Default" value="@Model.Weight"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Unit</label>
                        <input type="text" name="unit" class="form-control" aria-label="Default" value="@Model.Unit"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Varian</label>
                        <input type="text" name="varian" class="form-control" aria-label="Default" value="@Model.Varian"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Regional Market</label>
                        @* <select class="form-select" name="regionalMarketId" asp-items="@ViewBag.RegionalMarkets"></select> *@
                        <select class="form-select" name="regionalMarketId"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Type</label>
                        @* <select class="form-select" name="materialTypeId" asp-items="@ViewBag.MaterialTypes"></select> *@
                        <select class="form-select" name="materialTypeId"></select>
                    </div>
                </div>
            </div>

            <div class="row" id="MaterialCostManagement">
                <button type="button" onclick="addMaterialCost()" class="btn btn-primary btn-lg btn-block">Add Material Cost</button>
                <table class="table table-bordered" id="materialCost">
                    <thead>
                    <tr>
                        <th>Transactional Partner</th>
                        <th>Surcharge</th>
                        <th>MinQuantity</th>
                        <th>Price</th>
                        <th>Currency Type</th>
                        <th>Action</th>
                    </tr>

                    </thead>
                    <tbody>
                    @foreach (var materialCostManagement in Model.MaterialCostManagements)
                    {
                        var transactionalPartner = materialCostManagement.Supplier;
                        string currencyTypeName = transactionalPartner.CurrencyTypeName;

                        <tr>
                            <td>
                                <select class="form-select" id="supplierId" name="supplierId">
                                    @foreach (var supplier in ViewBag.Suppliers)
                                    {
                                        string selected = transactionalPartner.Id == supplier.Id ? "selected" : "";

                                        <!option value="@supplier.Id" currency-type="@currencyTypeName" @selected>
                                            @supplier.Name
                                        </!option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="text" name="surcharge" class="form-control" aria-label="Default" value="@materialCostManagement.Surcharge"/>
                            </td>
                            <td>
                                <input type="text" name="minQuantity" class="form-control" aria-label="Default" value="@materialCostManagement.MinQuantity"/>
                            </td>
                            <td>
                                <input type="text" name="price" class="form-control" aria-label="Default" value="@materialCostManagement.Price"/>
                            </td>
                            <td>
                                <label Id="currencyType" aria-label="Default">@currencyTypeName</label>
                            </td>
                            <td>
                                <button Id="deleteCost" aria-label="Default">Delete</button>
                                <input name="isDeleted" value="false" hidden/>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <button id="saveMaterial" type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </!form>
    </div>
</div>
<script>
function saveMaterial(ele) {
    let formData = getMaterialForm(ele)
    let eleForm = ele.closest("form")
    let form = eleForm[0]
    let basicMaterialInformation = eleForm.find("#BasicMaterialInformation")
    formData.id = basicMaterialInformation.find("input[name='id']").val()
    
    let urlAction = form.action
    let method = eleForm.attr("method")
        
    $.ajax({
        type: method,
        data: JSON.stringify(formData),
        url: `${apiHost}/material-management/materials/${formData.id}`,
        contentType: "application/json",
        dataType: "json",
        success: function (result) {
            location.href = "/MaterialManagement/Materials"
        },
        error: function (data) {
                    alert("some thing went wrong with code: " + data.errors[0].Code + ", and message: " + data.errors[0].Message)
            console.log(data)
        }
    });
}

$(document).ready(function () {
    $(document).on("click", "#saveMaterial", function(e) {
        e.preventDefault()
        saveMaterial($(this))
    })
})
</script>
<script src="~/MaterialManagement/UpdateMaterial.js"></script>