<div class="text-left" style="margin-bottom: 50px;">
    <h1><b>Materials: </b></h1>
</div>

<div class="text-left" style="margin-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a type="button" asp-controller="MaterialManagement" asp-action="CreateMaterial" class="btn btn-primary btn-lg btn-block">Create</a>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Color Code</th>
                        <th>Unit</th>
                        <th>Varian</th>
                        <th>Weight</th>
                        <th>Width</th>
                        <th>Type</th>
                        <th>Regional Market</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var material in Model.Result){
                        <tr>
                            <td>@material.Code</td>
                            <td>@material.Name</td>
                            <td>@material.ColorCode</td>
                            <td>@material.Unit</td>
                            <td>@material.Varian</td>
                            <td>@material.Weight</td>
                            <td>@material.Width</td>
                            <td>@material.MaterialTypeName</td>
                            <td>@material.RegionalMarketName</td>
                            <td>
                                <a type="button" asp-controller="MaterialManagement" asp-action="GetMaterial" asp-route-id="@material.Id" class="btn btn-primary btn-lg btn-block">Edit</a>
                                <input hidden name="id" value="@material.Id"/>
                                <button type="button" id="deleteMaterial" class="btn btn-primary btn-lg btn-block">Delete</button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteMaterial(ele) {
        let td = ele.closest("td")
        let materialId = td.find("input[name='id']").val()
        let urlAction = `/MaterialManagement/Materials/${materialId}`
        $.ajax({
                type: 'DELETE',
                url: urlAction,
                dataType: 'json',
                success: function (result) {
                    location.href = "/MaterialManagement/Materials"
                },
                error: function (data) {
                    console.log(data)
                }
            });
    }

    function getMaterials(ele) {
        $.ajax({
            type: 'GET',
            url: '/MaterialManagement/Materials'',
            dataType: 'json',
            success: function (result) {
                
            },
            error: function (data) {
                console.log(data)
            }
        });
    }

    $(document).ready(function () {
        $(document).on("click", '#deleteMaterial', function () {
            deleteMaterial($(this))
        })
        getMaterials()
    })
</script>